/*初始化css代码的*/

/*此文件中放入的是公共的样式:*/
@charset "UTF-8";
/*css 初始化 */
/*使用标签名字的效率远远高于*的效率*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", SimSun, Heiti, sans-serif;
}

/*各浏览器显示不同，去掉蓝色边框*/
fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none; /*设置轮廓样式*/
}

ul, ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
}

/*去掉行内替换元素空白缝隙*/
select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

/*防止拖动 影响布局*/
textarea {
    resize: none;
}

/*去掉行内替换元素空白缝隙*/
img {
    border: 0;
    vertical-align: middle;
}

/*合并边框*/
table {
    border-collapse: collapse;
}

body {
    color: #666;
    background: #f6f6f6;
    /*background: red;*/
}

/*清除浮动*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

/*用来做图标*/
s, i, em {
    font-style: normal;
    text-decoration: none;
}

/*公共类*/
.w {
    /*版心 提取 */
    width: 1190px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.al {
    text-align: left;
}

.ac {
    text-align: center;
}

.ar {
    text-align: right;
}

.hide {
    display: none;
}

.section {
    position: relative;
    overflow: hidden;
}

.second {
    width: 100%;
}

#head {
    width: 1100px;
    height: 76px;
    text-align: center;
    position: relative;
    margin: 0 auto;
    padding-top: 25px;

    color: #fff;
}

#head #one {
    height: 28px;
    font-size: 26px;

}

#head #two {
    width: 305px;
    height: 33px;
    line-height: 33px;
    margin: 0 auto;
    border-bottom: 1px solid #6AA9DA;
}

#head span {
    display: inline-block;
    position: absolute;
    height: 2px;
    width: 82px;
    background: rgb(170, 206, 234);
    left: 50%;
    margin-left: -41px;
}

/* 第二部分*/

#info #info-one ul {
    width: 100%;
    /*display:flex;*/
    display: block;
    width: 100%;
    text-align: center;
}

#info #info-one ul li:nth-of-type(1) {
}

#info #info-one ul li:nth-of-type(2) {

}

#info #info-one ul li:nth-of-type(3) {
    margin-right: 0;
}

#info #info-one ul li:nth-of-type(3) {
    background-color: green;
}

#info #info-one ul .active i {
    background-color: #1AE2C0;
}

#info #info-two .main.selected {
    display: block;
}

#info #info-two .main:nth-child(2) {
    /*background-color: red;*/
}

/*第三部分*/
#foot {
    width: 100%;
    /*height: 367px;*/
    margin: 0 auto;
}

#foot #answer {
    height: 32px;
    width: 100%;
    margin: 0 auto;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

#foot #answer span {
    cursor: default;
}

#foot #answer ul {
    height: 32px;
    display: block;width: 100%;
}

#foot #answer ul li {
    float: left;
    width: 16.6%;
    height: 32px;
    text-align: center;
    font-size: 1em;
    color: #A9CCF1;
}

.li_hover {
    color: #FFFFFF;
    border-bottom: 4px solid #fff;
    position: relative;
}

.div_hover {
    width: 0;
    height: 0;
    border: 6px solid;
    border-bottom: 6px solid #fff;
    border-top: 6px solid transparent;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -3px;
}

#foot #answer ul li:nth-last-child(1) {
    margin-right: 0;
}

#foot #box {
    width: 100%;
}

#foot #box #hexBox {
    overflow: hidden;
    width:100%;
    margin: 0 auto;
    margin-top: 5px;
    padding: 0.866% 0;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

#foot #box #hexGrid:after {
    content: "";
    display: block;
    clear: both;
}
/*向右滑动*/
.marginLeft1{margin-left: -40%;
    animation: marginLeft1 800ms 1;
 }
.marginLeft2{margin-left: -100%;
    animation: marginLeft2 800ms  1;
}
.marginLeft3{margin-left: -160%;
    animation: marginLeft3 800ms 1;
}
.marginLeft4{margin-left: -160%;
    animation: marginLeft4 800ms 1;
}

@keyframes marginLeft1{
     from{
         margin-left: 0%
     }
     to{
         margin-left: -40%;
     }
 }
@keyframes marginLeft2{
    from{
        margin-left: -40%;
    }
    to{
        margin-left: -100%;
    }
}
@keyframes marginLeft3{
    from{
        margin-left: -100%;
    }
    to{
        margin-left: -160%;
    }
}
@keyframes marginLeft4{
    from{
        margin-left: -160%;
    }
    to{
        margin-left: 0;
    }
}
/*向左滑动*/
.marginLeft5{margin-left:-100%;
    animation: marginLeft5 800ms 1;
}
.marginLeft6{margin-left: -40%;
    animation: marginLeft6 800ms  1;}
.marginLeft7{margin-left: 0%;
    animation: marginLeft7 800ms 1;}
.marginLeft8{margin-left: -160%;
    animation: marginLeft8 800ms 1;}



@keyframes marginLeft5{
    from{
        margin-left: -160%;
    }
    to{
        margin-left: -100%
    }
}
@keyframes marginLeft6{
    from{
        margin-left: -100%;
    }
    to{
        margin-left: -40%;
    }
}
@keyframes marginLeft7{
    from{
        margin-left: -40%;
    }
    to{
        margin-left:0%;
    }
}

@keyframes marginLeft8{
    from{
        margin-left: 0;
    }
    to{
        margin-left: -160%;
    }
}
#foot #box .hex {
    position: relative;
    list-style-type: none;
    float: left;
    overflow: hidden;
    visibility: hidden;
    outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
    -webkit-transform: rotate(-60deg) skewY(30deg) translatez(-1px);
    -ms-transform: rotate(-60deg) skewY(30deg) translatez(-1px);
    transform: rotate(-60deg) skewY(30deg) translatez(-1px);
}

#foot #box .hex * {
    position: absolute;
    visibility: visible;
    outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
}

#foot #box .hexIn {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate(60deg);
    -ms-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);
}

#foot #box {
    color: rgba(255, 255, 255, 0.5);
}

#foot #box .hexIn > div {
    left: -100%;
    right: -100%;
    width: auto;
    height: 100%;
    margin: 0 auto;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}

#foot #box .hex img {
    left: -100%;
    right: -100%;
    width: auto;
    height: 100%;
    margin: 0 auto;
    opacity: 0.4;
}

#foot #box .hex h1 {
    width: 102%;
    left: -1%; /* prevent line on the right where background doesn't cover image */
    box-sizing: border-box;
    font-weight: 300;
    bottom: 40%;
    font-weight: normal;
    padding-top: 50%;
    font-size: 1em;
    z-index: 1;
}
#foot #box .hex:nth-child(4) h1,
#foot #box .hex:nth-child(12) h1 {
    width: 84%;
    bottom: 30%;
    left: 10%;
}
/*** SPACING AND SIZING *****************************************************************/
#foot #box .hex:nth-child(15n+10),
#foot #box .hex:nth-child(15n+11),
#foot #box .hex:nth-child(15n+12),
#foot #box .hex:nth-child(15n+13),
#foot #box .hex:nth-child(15n+14),
#foot #box .hex:nth-child(15n+15),#foot #box .hex:nth-child(15n+1),
#foot #box .hex:nth-child(15n+2),
#foot #box .hex:nth-child(15n+3),
#foot #box .hex:nth-child(15n+4),
#foot #box .hex:nth-child(15n+5),
#foot #box .hex:nth-child(15n+6),
#foot #box .hex:nth-child(15n+7) ,
#foot #box .hex:nth-child(15n+8),
#foot #box .hex:nth-child(15n+9)
{
    margin-bottom: -4.22%;
    -webkit-transform: translateX(0%) rotate(-60deg) skewY(30deg);
    -ms-transform: translateX(0%) rotate(-60deg) skewY(30deg);
    -o-transform: translateX(0%) rotate(-60deg) skewY(30deg);
    transform: translateX(0%) rotate(-60deg) skewY(30deg);
}
#foot #box .hex {
    width: 22%; /* = (100-7) / 8 */
    padding-bottom:25.4034118443%; /* =  width / sin(60deg) */
}

#foot #box .hex:nth-child(15n+1),
#foot #box .hex:nth-child(15n+13){
    margin-left:27%;
    clear: left;
}
#foot #box .hex:nth-child(15n+10),
#foot #box .hex:nth-child(15n+3){
    margin-left:15%;
    clear: left;
}
#foot #box .hex:nth-child(15n+6){
    margin-left:3%;
    clear: left;
}
#foot #box .hex:nth-child(15n+15) {
    clear: left;
    margin-left: 39%;
margin-bottom: 0}
/*#foot #box .hex:nth-child(15n+1),*/
/*#foot #box .hex:nth-child(15n+2),*/
/*#foot #box .hex:nth-child(15n+3),*/
/*#foot #box .hex:nth-child(15n+4),*/
/*#foot #box .hex:nth-child(15n+5),*/
/*#foot #box .hex:nth-child(15n+6),*/
/*#foot #box .hex:nth-child(15n+7) ,*/
/*#foot #box .hex:nth-child(15n+8),*/
/*#foot #box .hex:nth-child(15n+9){*/
    /*margin-bottom: -2.676%;*/
    /*-webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);*/
    /*-ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);*/
    /*-o-transform: translateX(50%) rotate(-60deg) skewY(30deg);*/
    /*transform: translateX(50%) rotate(-60deg) skewY(30deg);*/
/*}*/


#foot #box .hex:nth-child(15n+3),
#foot #box .hex:nth-child(15n+6),
#foot #box .hex:nth-child(15n+10),
#foot #box .hex:nth-child(15n+13),
#foot #box .hex:nth-child(15n+15){
    clear: left;
}

/*#foot #box .hex:nth-child(15n+2),*/
/*#foot #box .hex:nth-child(15n+9) {*/
    /*margin-left: 2%;*/
    /*margin-right: 2%;*/
/*}*/
#foot #box .hex:nth-child(15n+1),
#foot #box .hex:nth-child(15n+3),
#foot #box .hex:nth-child(15n+4),
#foot #box .hex:nth-child(15n+6),
#foot #box .hex:nth-child(15n+7),
#foot #box .hex:nth-child(15n+8),
#foot #box .hex:nth-child(15n+10),
#foot #box .hex:nth-child(15n+11),
#foot #box .hex:nth-child(15n+13){
    margin-right: 2%;
}
