html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", SimSun, Heiti, sans-serif;
}

.page1_bg{position: absolute;top: 0;left: 0;z-index: -1}
.page1_bg img{display: block;width: 50%;height: 50%;display: block;float: left}
.two-right p {
    margin-top: 1em
}
.page4_left_imgbox img{
    float: left;
}
.iw_poi_title {
    color: #CC5522;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    padding-right: 13px;
    white-space: nowrap
}

.iw_poi_content {
    font: 12px arial, sans-serif;
    overflow: visible;
    padding-top: 4px;
    white-space: -moz-pre-wrap;
    word-wrap: break-word
}

.page5_table iframe {
    height: 292px;
    display: block;
    width: 474px;
    display: block;
    border: #444444 6px solid;

}


.xt {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
    font-size: 16px;
    color: #fff
}



#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
    background: #f7f7f7;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: #f7f7f7;
}

.header_nav {
    list-style: none;
    float: right;
    margin-top: 20px;
    /*position: absolute;*/
    /*top:30px;*/
    /*z-index: 2;*/
}

.header_nav li {
    line-height: 22px;
    margin: 0px 18px;
    font-size: 22px;
    color: #fff;
    display: inline-block;
    cursor: pointer;
}

.header_nav li a {
    color: #fff;
    text-decoration: none;
}

.page1_text2 {
    text-align: center;
    padding-top: 30px
}

.page1_text2 div {
    width: 234px;
    display: inline-table;
    cursor: pointer;
}

.page1_text2 a {
    width: 100%;
    display: inline-table;
    padding-right: 32px;
    border-bottom: 1px #fff dashed;
    line-height: 50px;
    text-align: right;
    float: right;
    color: #fff;
    font-size: 20px;
}

.page1_text2 span {

    overflow: hidden;
    display: inline-table;
    margin: 0px 26px 10px 0;
    border: 1px solid #fff;
    border-radius: 8px;
    line-height: 50px;
    color: #fff;
    width: 232px;
    font-size: 20px;
}

.page1_text2 span img {
    display: block;
    float: right;
    margin: 7px 20px 10px 10px;
}

.ptjs {
    display: block;
    font-size: 1.2em;
    margin-top: 0.1em;
    text-align: left;
}

.page3a1 {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    line-height: 80px;
    color: #fff;
    position: absolute;
    top: 44%;
}

.page3a2 {
    z-index: 2;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    /* line-height: 80px; */
    color: #fff;
    position: absolute;
    top: 30px;
    left: 20%;
}

.page3img1 {
    width: 28%;
    display: block;
    position: absolute;
    top: 104px;
    left: 36%;
}

.page3img2 {
    z-index: 2;
    display: block;
    position: absolute;
    top: 16px;
    left: 16%;
    /* margin-left: -37px; */
    width: 28%;
}
.hide{display: none}
.job_name {
    color: #0084ff;
    margin-top: 16px;
}
phone_show{display: none}
.job_body p {
    color: #666
}

#info {
    /*height: 250px;*/
    margin: 0 auto;
}

.job_name a {
    display: inline-table;
    border: 1px solid #0084ff;
    font-size: 1em;
    line-height: 2em;
    padding: 0 9px;
    border-radius: 4px;
    cursor: pointer;
    /* margin-right: 18px; */
    margin-bottom: 10px;
}

.job_name .a_active {
    background-color: #0084ff;
    color: #fff
}

.next_page {
    position: fixed;
    width: 100%;
    z-index: 88;
    left: 0px;
    bottom: 0px;
    padding-bottom: 16px;
    cursor: pointer;
}

.next_page a {
    font-size: 18px;
    line-height: 44px;
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: lighter;
}

.next_page img {
    display: block;
    margin: 0 auto;
    cursor: pointer
}

.qr {
    width: 160px;
    background-color: rgba(27, 29, 62, 0.4);
    padding-top: 12px;
    position: fixed;
    z-index: 88;
    right: 50px;
    bottom: 180px
}

.qr a {
    font-size: 14px;
    display: block;
    text-align: center;
    color: #fff;
    margin: 8px 0
}

.qr img {
    display: block;
    margin: 0 auto
}
.page6_table{
    display: none;
}
.page_box {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.page_box2 {
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    position: relative
}

.header {
    margin-top: 22px;
    position: relative
}

.header img {
    display: block;
    float: left;
}

.page1_text {
    position: absolute;
    top: 20%;
    width: 100%
}

.adv_1 {
    display: block;
    text-align: center;
    font-size: 50px;
    color: #fff
}

#info #info-two {
    margin: 0 auto;
    height: 600px;
    background-color: rgba(255,255,255,0.2);
    position: relative;
}

.bg_rgb {
    background-color: rgba(255, 255, 255, 0.3);
    height: 94px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 70px
}




.bg_rgb_span1 {
    display: inline-block;
    font-size: 1.4em;
    line-height: 2.4em;
    color: #fff;
    padding: 0 6px 0 6px;
}

.bg_rgb_span2 {
    display: inline-block;
    font-size: 1em;
    /* line-height: 20px; */
    color: #fff;
}



.page3_mousenter {
    width: 100%;
    height: 100%;
    position: relative;
}

.page3_mousenter p {
    display: block;
    width: 250px;
    text-align: left;
    font-size: 24px;
    line-height: 80px;
    color: #fff;
    position: absolute;
    top: 130px;
    font-size: 14px;
    line-height: 24px;
    left: 10px;
    z-index: 22;
    display: none
}
.adv_box,.buss_box,.huoli_box,.duobao_box{
    width: 24%;}
.huoli_box {
    height: 100%;
    background: url(../images/3img2.png);
    background-size: cover;
    float: left;
    margin-right: 1%
}
.duobao_box {
    height: 100%;
    background: url(../images/3img1.png);
    background-size: cover;
    float: left;
    margin-right: 1%
}
.buss_box {
    height: 100%;
    background: url(../images/3img3.png);
    background-size: cover;
    float: left;
    margin-right: 1%
}

.adv_box {
    height: 100%;
    background: url(../images/3img4.png);
    background-size: cover;
    float: left;
}

.page4_box {
    position: absolute;
    top: 4%;
    left: 5%;
    width: 90%;
}
.page4_box_2 {
    position: absolute;
    top: 3%;
    width: 100%;
}

#info #info-one ul li i {
    display: block;
    width: 4em;
    height: 0.2em;
    background-color: transparent;
    margin: 0.4em auto;
}

.page4_box2 {
    height: 100%;
    margin: 0 auto;
    position: relative
}

.page4_title {
    width:50%;
    margin: 0 auto;
    background: url(../images/title_bg_bottom2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto
}

#foot #question {
    width: 100%;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 1em;
    font-size: 18px;
    text-align: center;
    color: #fff;
}

.title_en {
    display: block;
    width: 100%;
    text-align: center;
    line-height:  2em;
    font-size: 1.2px;
    color: #2b4059
}

.title_zn {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 22px;
    font-size: 1.8em;
    color: #2b4059
}

.page4_p {
    text-align: left;
    font-size: 16px;
    line-height: 22px;
    color: #0084ff;
    margin-bottom: 20px;
}

#info #info-two .two-right {
    display: block;
    width: 90%;
    margin: 0 auto;
    line-height: 1.6rem;
    margin-top: 20px;
    /* margin-left: 25px; */
    font-size: 0.9rem;
    color: #FFFFFF;
}

#info-one a {
    color: #fff
}

#info #info-two .main {
    width: 100%;
    padding-top: 1px;
    display: none;
    /*position: absolute;*/
    /*height: 220px;*/
    /*top: 0;*/
    /*left: 0;*/
}

.page4_left_imgbox {
    width: 100%;
}

.page4_left_text {
    float: left;
    text-align: left;
    border: 1px dashed #999;
    border-radius: 8px;
    font-size: 1.2em;
    line-height: 2em;
    padding: 10px 16px;
}

.kfbj {
    background: url(../images/2img1.png);
    background-size: cover;
    margin: 0 0 0 2.5%;
}

.qyyh {
    background: url(../images/2img2.png);
    background-size: cover;
    margin: 0 2.5%;
}

.fxyh {
    background: url(../images/2img3.png);
    background-size: cover;

}

.page4_right {
    width: 100%;
    margin: 0 auto;
}

.job_body {
    line-height: 1.7em;
}

#info #info-one ul li {
    width: 30%;
    height: 3em;
    line-height: 3em;
    display: block;
    float: left;
    text-align: center;
    color: #FFF;
    cursor: pointer;
    font-size: 1.6em;
}

.page5_title {
    width: 300px;
    margin: 0 auto;
    background: url(../images/title_bg_bottom.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto
}

.page5_title_cn {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 22px;
    font-size: 24px;
    color: #fff
}

.page5_title_en {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 2em;
    font-size: 14px;
    color: #fff
}

.page5_table {
    width: 1100px;
    font-size: 18px;
    color: #fff;
    margin-top: 60px
}

.page5_table img {
    display: block;
    border: #444444 6px solid;
    width: 600px
}

.page3_title {
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 20px
}

.page3_box {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    position: relative
}

.page3_box2 {
    width: 300px;
    margin: 0 auto;
    background: url(../images/title_bg_bottom2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto
}

.page3_box2_cn {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    color: #2b4059;
}

.page3_box2_en {
    display: block;
    width: 100%;
    text-align: center;
    /* line-height: 1.4em; */
    padding: 4px 0;
    font-size: 1em;
    color: #b1b8c1;
}

.page3_box p {
    text-align: left;
    font-size: 16px;
    line-height: 22px;
    color: #fff
}

#info #info-one {
    height: 140px;
    background-color: rgba(255,255,255,0.2);
    /*padding: 0 120px;*/
    margin: 10px 0;
}

.job_name a {
    color: #0084ff
}

.page3_box .jieshao {
    color: #666
}

#info #info-two .two-left {
    position: relative;
    width: 90%;
    overflow: hidden;
    height: 8em;
    /* margin-top: 15px; */
    margin: 0 auto;
    margin: 1em 0 0 5%;
    /* margin-left: 30px; */
}
.two-left img{display: block;width: 100%;height: auto;    margin-top: 1em;    position: absolute;
    bottom: 0;}

#src {
    cursor: pointer
}

@media screen and (min-width:321px) and (max-width:375px){html{font-size:11px}

    .section:nth-of-type(1) {
        background-image: url(../images/phone_bg1.png);
        background-size: cover;

    }
    .section:nth-of-type(2), .section:nth-of-type(3)  {
        background-image: url("../images/phone_bg3.png");
        background-size: cover;
    }

    .section:nth-of-type(5),    .section:nth-of-type(6) {
        background-image: url("../images/phone_bg4.png");
        background-size: cover;
    }

    .section:nth-of-type(7) {
        background-color: #333;
    }

    .page6_table{display: block;width: 94%;margin: 0 auto;line-height: 3em;color: #fff;font-size: 1em; margin-top: 20px;}
    .page6_table a{display: block;width: 100%;margin: 0 auto;line-height: 3em;color: #fff}
    .page6_table iframe{display: block;width: 100%;}

    .xt {
        font-size: 1em;}
    .page5_table iframe {
        height: 292px;
        display: block;
        width:100%;
        display: block;
        border: #444444 6px solid;

    }
    .adv_1 {
        display: block;
        text-align: center;
        font-size: 2.1em;
        color: #fff;
    }
    .header_nav {
        list-style: none;
        display: block;
        width: 68%;
        float: right;
        text-align:right;
        margin: 0;
    }
    .header_nav li {
        margin: 0;
        float: left;
        font-size: 1.2em;
        cursor: pointer;
        width: 33%;
        line-height: 2em;
    }
    .header_nav  .shouye{display: none}
    .header {
        width: 90%;
        margin: 0 auto;
        margin-top: 22px;
        position: relative
    }

    .header img {
        display: block;
        float: left;
        margin-top: 5px;
        width: 26%;
    }
    .page_box2 {
        width:100%;
        height: 100%;
        margin: 0 auto;
        position: relative
    }
}
.page1_text2 div {
    float: left;
    display: block;
    cursor: pointer;
    width: 40%;
    margin: 0 4.7%;
}
.page1_text {
    width: 100%;
    top: 19%;
}
.page1_text2 {
    text-align: center;
    padding-top: 10px;
}
.page1_text2 a {
    width: 100%;
    display: inline-table;
    padding-right: 32px;
    border-bottom: 1px #fff dashed;
    line-height: 2.4em;
    text-align: right;
    float: right;
    color: #fff;
    font-size: 0.9em;
}
.right{
    display: none;
}
.qr {
    width: 20%;
    padding: 0.4em;
    right: 0.51em;
    bottom:0em;
}
::-webkit-scrollbar{
    display:none;
}
.qr img {
    width: 100%;
}
.next_page {

}
.next_page a {
    font-size: 1.2em;
    line-height: 2em;}
.next_page img {
    width: 5%;}
.bg_rgb {
    bottom: 17%;}
.qr a {
    margin: 4px 0;
    font-size: 0.6em;
}
.page1_text2 span {
    text-indent: 1em;
    float: left;
    overflow: hidden;
    display: inline-table;
    border: 1px solid #fff;
    border-radius: 4px;
    line-height: 2.4em;
    color: #fff;
    width: 100%;
    font-size: 0.9em;
}
.page1_text2 span img {
    display: block;
    float: right;
    height: 16px;
    margin: 6px 8px 0 10px;
}

.bg_rgb {
    height: 62px;
}


.page4_p {
    text-align: left;
    margin: 20px 0 20px 0;
    font-size: 1.2em;
    line-height: 2em;
    margin-top: 10px;
    color: #0084ff;
    margin-top: 10px;
}

.page3_box .jieshao {
    color: #666;
    margin: 20px 0 20px 0;
}

.page3_box p {
    text-align: left;
    font-size: 16px;
    line-height: 22px;
    margin: 20px 0 20px 0;
    color: #fff;
}

.page3_box .jieshao {
    color: #666;
    margin: 8px 0 0px 0;
}
.five_adv{width: 100%;overflow-x: scroll;overflow-y:hidden;height:27em;width:230%;    margin-top: 20px; }
.five_adv p{    z-index: 1;
    width: 94%;
    padding: 0 3%;
    /* margin: 0 auto; */
    margin: 0!important;
    position: absolute;
    /* left: 3%; */
    left: 0;
    padding-top: 70px;
    margin: 0;
    height: 100%;
    top: 0;
    /* top: 60px; */
    text-align: left;
    font-size: 0.1em;
    font-weight: 300;
    line-height: 1.4em;}
.page3_box p {
    text-align: left;
    font-size: 1em;
    line-height:1.4em;
    margin: 20px 0 20px 0;
    color: #fff;
}

.user_help {
    width: 1100px;
    margin: 0 auto;
    background-color: #fff;
    color: #666;
    padding: 60px 20px 90px 20px;
    line-height: 32px
}

.user_help h5 {
    font-size: 20px;
    height: 4px;
    margin-top: 54px;
    color: #2b4059;
    display: block
}
.page4_box2 {width: 100%}
.user_help h4 {
    font-size: 18px;
    height: 4px;
    margin-top: 54px;
    margin-bottom: 40px;
    color: #0c1018;
    display: block
}
#info {
    width: 100%;
    margin: 0 auto}
.user_help span {
    color: #ef6e63
}
#info #info-one {
    padding: 1em 0;
    height: 5em;
    width: 100%;
}
.page5_title {
    width: 60%;
}
.page5_title_en {
    font-size: 1.2em;
    color: #fff;}
.page5_title_cn {
    font-size: 1.8em;
    color: #fff;}
.user_help .blue {
    color: #0074ff;
    font-weight: normal;
    cursor: pointer;
    text-decoration: none
}

.user_help p {
    font-size: 16px;
    line-height: 20px;
    line-height: 28px;
    color: #666
}

.ucer_help_bg {
    background-color: #f3f4f5;
    margin: 0;
    padding: 0;
}

.rewars_table {
    border-right: 1px solid #0c1018;
    border-top: 1px solid #0c1018;
    text-align: center;
    margin-bottom: 60px
}

.rewars_table td {
    border-left: 1px solid #0c1018;
    border-bottom: 1px solid #0c1018;
    padding: 6px 20px 6px 20px
}

.rewars_table span {
    font-size: 18px;
    color: #272727;
    font-weight: bold;
}
.page4_left_img1{
    float: left;
    width: 39%;
    margin-top: 9%;
}
.page4_left_img2 {
    margin-top: 5%;
    float: left;
    width: 30%;
    margin-left: 5%;

   }
.page4_left_img3 {
    margin-top: 5%;
    float: left;
    width: 55%;
    margin-left: 5%;
   }ï¼›

@media screen and (min-width:376px) and (max-width:414px){html{font-size:12px}}
@media screen and (min-width:415px) and (max-width:639px){html{font-size:15px}}
@media screen and (min-width:640px) and (max-width:719px){html{font-size:20px}}
@media screen and (min-width:720px) and (max-width:749px){html{font-size:22.5px}}
@media screen and (min-width:750px) and (max-width:799px){html{font-size:23.5px}}
@media screen and (min-width:800px){html{font-size:25px}}